body{
    margin: 0;
    font-family: "Microsoft YaHei","Arial","ºÚÌå","ËÎÌå",sans-serif;
}

div, ul, li{
    box-sizing: border-box;
    moz-box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.clear-fix:before,.clear-fix:after{
    display: table;
    content: '';
    clear: both;
}

.top{
    height: 108px;
    background: url("../img/top_nav_bg.png") repeat-x;
}

.log{
    float: left;
    padding-top: 8px;
    padding-left: 20px;
}

.user-info{
    float: right;
}

.user-info>div{
    float: right;
}

.uer-name{
    margin-top: 40px;
    margin-right: 20px;
    font-size: 20px;
    color: #000;
}

.user-title{
    color: #898989;
}

.user-photo{
    margin-top: 18px;
    margin-right: 34px;
    width: 64px;
    height: 65px;
}

.user-icon{
    margin-top: 34px;
    margin-right: 46px;
    width: 26px;
    height: 26px;
    background: url("../img/LogOut_icon.png") no-repeat;
}

.user-icon:hover{
    background-image: url("../img/LogOut_icon_f.png");
}


.sidebar{
    float: left;
    width: 338px;
    background-color: #33363f;
}

.sidebar-list li{
    background: url("../img/nav_bg.png") repeat-x;
}

.sidebar-list li:hover{
    background-image: url("../img/nav_bg_f.png");
}

.list-item{
    height: 86px;
    padding-top: 23px;
}

.list-content{
    height: 39px;
    margin-left: 5%;
    padding-left: 38px;
    font-size: 24px;
    line-height: 39px;
    color: #939393;
    text-indent: 5%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.list-content:hover{
    color: #43d5ca;
}

.train{
    background-image: url("../img/Dashboard_icon.png");
}
.train:hover{
    background-image: url("../img/Dashboard_icon_f.png");
}

.practice{
    background-image: url("../img/Posts_icon.png");
}
.practice:hover{
    background-image: url("../img/Posts_icon_f.png");
}

.server{
    background-image: url("../img/Profile_icon.png");
}
.server:hover{
    background-image: url("../img/Profile_icon_f.png");
}

.quality{
    background-image: url("../img/Media_icon.png");
}
.quality:hover{
    background-image: url("../img/Media_icon_f.png");
}

.analysis{
    background-image: url("../img/Pages_icon.png");
}
.analysis:hover{
    background-image: url("../img/Pages_icon_f.png");
}

.history{
    background-image: url("../img/Comment_icon.png");
}
.history:hover{
    background-image: url("../img/Comment_icon_f.png");
}

.edu{
    background-image: url("../img/Forum_icon.png");
}
.edu:hover{
    background-image: url("../img/Forum_icon_f.png");
}

.system{
    background-image: url("../img/Topics_icon.png");
}
.system:hover{
    background-image: url("../img/Topics_icon_f.png");
}

.content{
    padding: 30px 1% 0 1%;
    background-color: #eee;
    overflow: hidden;
}

.tittle{
    padding-left: 20px;
    height: 75px;
    line-height: 75px;
    background: url("../img/tittle_bg.png") repeat-x;
    font-size: 26px;
    color: #333;
}

.data-content{
    padding-top: 38px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}

.data{
    padding: 0 4%;
}

.data>div{
    float: left;
    position: relative;
    margin-left: 13.33333333%;
    width: 15%;
}

.data>.wenjiang{
    margin-left: 0;
}

.data-col{
    position: relative;
    height: 622px;
    color: #fff;
    text-align: center;
    word-break: break-all;
}

.data-col>div{
    position: absolute;
    bottom: 0;
    width: 22%;
}

.data-item{
    position: relative;
}

.data-item>div{
    position: absolute;
    top: 50%;
    width: 100%;
}

.data2{
    left: 39%;
}

.data3{
    left: 78%;
}

.data1>.data1-top{
    background-color: #a27bd2;
}
.data1>.data1-bottom{
    background-color: #4e81bd;
}

.data1>.data-top{
    background-color: #a27bd2;
}
.data1>.data-bottom{
    background-color: #4e81bd;
}

.data2>.data-top{
    background-color: #c1504c;
}
.data2>.data-bottom{
    background-color: #f79746;
}

.data3>.data-top{
    background-color: #9bbb58;
}
.data3>.data-bottom{
    background-color: #567f00;
}


.wenjiang .data1{
    height: 95%;
}
.wenjiang .data2{
    height: 75%;
}
.wenjiang .data3{
    height: 45%;
}
.wenjiang .data1>.data-top{
    height: 45%;
}
.wenjiang .data1>.data-bottom{
    height: 55%;
}
.wenjiang .data2>.data-top{
    height: 70%;
}
.wenjiang .data2>.data-bottom{
    height: 30%;
}
.wenjiang .data3>.data-top{
    height: 80%;
}
.wenjiang .data3>.data-bottom{
    height: 20%;
}


.luojia .data1{
    height: 62%;
}
.luojia .data2{
    height: 68%;
}
.luojia .data3{
    height: 83%;
}
.luojia .data1>.data-top{
    height: 52%;
}
.luojia .data1>.data-bottom{
    height: 48%;
}
.luojia .data2>.data-top{
    height: 37%;
}
.luojia .data2>.data-bottom{
    height: 63%;
}
.luojia .data3>.data-top{
    height: 62.5%;
}
.luojia .data3>.data-bottom{
    height: 37.5%;
}


.caotang .data1{
    height: 100%;
}
.caotang .data2{
    height: 80%;
}
.caotang .data3{
    height: 90%;
}
.caotang .data1>.data-top{
    height: 60%;
}
.caotang .data1>.data-bottom{
    height: 40%;
}
.caotang .data2>.data-top{
    height: 35%;
}
.caotang .data2>.data-bottom{
    height: 65%;
}
.caotang .data3>.data-top{
    height: 60%;
}
.caotang .data3>.data-bottom{
    height: 40%;
}


.qingfeng .data1{
    height: 40%;
}
.qingfeng .data2{
    height: 95%;
}
.qingfeng .data3{
    height: 40%;
}
.qingfeng .data1>.data-top{
    height: 50%;
}
.qingfeng .data1>.data-bottom{
    height: 50%;
}
.qingfeng .data2>.data-top{
    height: 40%;
}
.qingfeng .data2>.data-bottom{
    height: 60%;
}
.qingfeng .data3>.data-top{
    height: 60%;
}
.qingfeng .data3>.data-bottom{
    height: 40%;
}

.data-name{
    position: absolute;
    bottom: -70px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #4c4c4c;
}

@media screen and (max-width: 1300px) {
    .data-name {
        bottom: -66px;
        font-size: 20px;
    }
}

.real-data-name{
    margin-top: 20px;
    height: 65px;
    line-height: 61px;
    border-top: 2px dashed #eee;
    border-bottom: 2px dashed #eee;
}

.data-legend{
    min-height: 71px;
    line-height: 71px;
    font-size: 16px;
    color: #4c4c4c;
}

.data-legend>div{
    display: inline-block;
    height: 20px;
    margin-left: 3.5%;
    padding-left: 36px;
    line-height: 20px;
    background-repeat: no-repeat;
}

/*.data-legend>div:first-child{
    margin-left: 1.7%;
}*/

.used-room{
    background-image: url("../img/test_1.png");
}
.avail-room{
    background-image: url("../img/test_2.png");
}
.computer-room{
    background-image: url("../img/test_3.png");
}
.avail-computer-room{
    background-image: url("../img/test_4.png");
}
.media-room{
    background-image: url("../img/test_5.png");
}
.avail-media-room{
    background-image: url("../img/test_6.png");
}